*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Appetite";
}
body {
    width: 1440px;
}

/* Подключение шрифта Appetite */
@font-face {
	font-family: "Appetite";
	src: url("./fonts/appetite/appetite.eot"); /* IE9 Compat Modes */
	src: url("./fonts/appetite/appetite.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./fonts/appetite/appetite.otf") format("opentype"), /* Open Type Font */
		url("./fonts/appetite/appetite.svg") format("svg"), /* Legacy iOS */
		url("./fonts/appetite/appetite.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./fonts/appetite/appetite.woff") format("woff"), /* Modern Browsers */
		url("./fonts/appetite/appetite.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

header {
    width: 100%;
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

img.logo {
    position: absolute;
    left: 24px;
}

ul.hr li {
    display: inline;
    font-family: Appetite;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
}

ul.hr {
    width: 500px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
}

a {
    text-decoration: none;
    color: #164194;
}
li {
    list-style: none;
}

.image-content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    background: #164194;
}

.image-content__left {
    position: absolute;
    left: 2.17%;
}
.participate {
    font-family: Appetite;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #fff;
    display: block;
}
button.btn {
    padding: 19px 32px;
    background: #164194;
    border-radius: 60px;
    color: #fff;
    outline: none;
}
.image-content__right {
    position: absolute;
    left: 54.71%;
    top: 0;
}

/* Нижняя часть первого экрана */
.content {
    width: 100%;
    height: 401px;
    display: flex;
}

.content__left,
.content__right {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__left {   
    background: #AEC910;
    width: 345px;
}
.content__right {
    background: #164194;
    width: 1095px;
}
.content__left img {
    position: absolute;
}
.content__right  img {
    position: absolute;
}

.breakfast {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 40px, 27px;
}

span.breakfast__milk {
    position: absolute;
    font-size: 24px;
    line-height: 125%;
    color: #fff;
    
}

img.cup {
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: -1px;
}



.rules {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.rules__first,
.rules__second,
.rules__third {
    width: 365px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.rules__second {}
.rules__third {}


.rules__first-first,
.rules__second-second,
.rules__third-third {
    /* width: calc(100%-55px); */
    width: 300px;
    height: 320px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* left: 55px; */
}
.rules__first-info,
.rules__second-info,
.rules__third-info {
    /* position: absolute; */
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.2px;
    color: #fff;
}
.rules__first-info {
    bottom: 40px;
}
.rules__first-info,
.rules__third-info {
    top: 0;
}
.rules__second-info {
    bottom: 0;
}