*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Appetite";
}

/* Подключение шрифта Appetite */
@font-face {
	font-family: "Appetite";
	src: url("./fonts/appetite/appetite.eot"); /* IE9 Compat Modes */
	src: url("./fonts/appetite/appetite.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./fonts/appetite/appetite.otf") format("opentype"), /* Open Type Font */
		url("./fonts/appetite/appetite.svg") format("svg"), /* Legacy iOS */
		url("./fonts/appetite/appetite.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./fonts/appetite/appetite.woff") format("woff"), /* Modern Browsers */
		url("./fonts/appetite/appetite.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

header {
    width: 100%;
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

img.logo {
    position: absolute;
    left: 24px;
}

ul.hr li {
    display: inline;
    font-family: Appetite;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
}

ul.hr {
    width: 500px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
}

a {
    text-decoration: none;
    color: #164194;
}
li {
    list-style: none;
}

.image-content {
    display: flex;
    position: relative;
    align-items: center;
    width: 1338px;
}

.image-content__left {
    position: absolute;
    left: 2.17%;
}
.participate {
    font-family: Appetite;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #fff;
    display: block;
}
button.btn {
    padding: 19px 32px;
    background: #164194;
    border-radius: 60px;
    color: #fff;
    outline: none;
}
.image-content__right {
    position: absolute;
    left: 54.71%;
    top: 0;
}

/* Нижняя часть первого экрана */
.content {
    width: 100%;
    height: 401px;
}
.content__left {

}